{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}
     main page
{% endblock %}

{% block meta %}
   <meta name="robots" content="index , follow"/>
{% endblock %}

{% block main %}
      <!-- MainContent -->

     <div id="services">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="heading-section">
                         <h2>Free Website Templates</h2>
                         <img src="{% static 'images/under-heading.png' %}" alt="" >
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-3 col-sm-6">
                     <div class="service-item">
                         <div class="icon">
                             <i class="fa fa-pencil"></i>
                         </div>
                         <h4>Make an order</h4>
                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                     <div class="service-item">
                         <div class="icon">
                             <i class="fa fa-bullhorn"></i>
                         </div>
                         <h4>Promotions</h4>
                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                     <div class="service-item">
                         <div class="icon">
                             <i class="fa fa-bell"></i>
                         </div>
                         <h4>Ready to Serve</h4>
                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                     <div class="service-item">
                         <div class="icon">
                             <i class="fa fa-heart"></i>
                         </div>
                         <h4>Satisfaction</h4>
                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>





     <div id="latest-blog">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="heading-section">
                         <h2>Latest blog posts</h2>
                         <img src="{% static 'images/under-heading.png' %}" alt="" >
                     </div>
                 </div>
             </div>
             <div class="row">
               {% if blogs %}
               {% for blog in blogs %}
                 <div class="col-md-4 col-sm-6">
                     <div class="blog-post">
                         <div class="blog-thumb">
                             <img src="{{blog.image.url}}" alt="" />
                         </div>
                         <div class="blog-content">
                             <div class="content-show">
                                 <h4><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></h4>
                                 <span>{{blog.created_at}}</span>
                             </div>
                             <div class="content-hide">
                                 <p>{{blog.description|safe}}</p>
                             </div>
                         </div>
                     </div>
                 </div>
               {% endfor %}
               {% else %}
               <div class="col-md-4 col-sm-6 ز">
                  <h3 class="text-danger">No content available yet</h3>
              </div>
              {% endif %}
             </div>
         </div>
     </div>


     <div id="testimonails">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="heading-section">
                         <h2>What Customers Say</h2>
                         <img src="{% static 'images/under-heading.png' %}" alt="" >
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-8 col-md-offset-2">
                     <div class="testimonails-slider">
                       <ul class="slides">
                        {% if comments %}
                        {% for comment in comments %}
                         <li>
                             <div class="testimonails-content">
                                 <p>{{comment.content}}</p>
                                 <h6>{{comment.name}} - <a href="#">{{comment.last_name}}</a></h6>
                             </div>
                         </li>
                        {% endfor %}
                         {% else %}
                         <li>
                           <div class="testimonails-content">
                               <h3 class="text-danger">no message available</h3>
                           </div>
                       </li>
                       {% endif%}
                       </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>

      <!-- MainContent End-->
{% endblock %}