{% load static %}
<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-md-9">
                    <div class="subscribe-form">
                        <span>Get in touch with us:</span>
                        <form method="get" class="subscribeForm">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_notif %}
                                    <a href="{% url 'blog:remove-notif-system' %}" class="btn btn-danger">Deactivate of the notification system</a>
                                {% else %}                                
                                    <a href="{% url 'blog:add-notif-system' %}" class="btn btn-primary">Activation of the notification system</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'account:sign-in' %}" class="btn btn-primary">please sign-in</a> 
                            {% endif %}  
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="social-bottom">
                        <span>Follow us:</span>
                        <ul>
                            <li><a target="_blank" href="https://tiphub.net/teacher_profile/7" class="fa fa-user"></a></li>
                            <li><a target="_blank" href="https://instagram.com/y.electrocode" class="fa fa-instagram"></a></li>
                            <li><a target="_blank" href="https://linkedin.com/in/yasin-samooei" class="fa fa-linkedin"></a></li>
                            <li><a target="_blank" href="https://github.com/YasinSamooei" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <div class="row">
                <div class="col-md-3">
                    <div class="about">
                        <h4 class="footer-title">About Grill</h4>
                        <p>Grill is free HTML5 template by <span class="blue">template</span><span class="green">mo</span> and it is a free responsive bootstrap layout that can be applied for any purpose.
                        <br><br>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for photos used in this template. Nam commodo erat quis ligula placerat viverra.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop-list">
                        <h4 class="footer-title">Introducing the developer/tags</h4>
                        <ul>
                            <li><a href="https://github.com/YasinSamooei"><strong>Developed with Django by <a><span class="blue">Yasin Samooei</span></a><a><span class="green"> (electrocode) </span></a></strong></a></li>
                            {% for tag in tags %}
                            <li><span class="green"><a href="{% url 'blog:tag-detail' tag.slug %}">{{tag.title}}</a></span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="recent-posts">
                        <h4 class="footer-title">Recent posts</h4>
                        {% for blog in latest_blogs%}
                        <div class="recent-post">
                            <div class="recent-post-thumb">
                                <img src="{{blog.image.url}}" alt="blog-image" style="width: 50px;height: 50px;">
                            </div>
                            <div class="recent-post-info">
                                <h6><a href="#">{{blog.title}}</a></h6>
                                <span>{{blog.created_at}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="more-info">
                        <h4 class="footer-title">More info</h4>
                        <p>Sed dignissim, diam id molestie faucibus, purus nisl pretium quam, in pulvinar velit massa id elit.</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>010-020-0340</li>
                            <li><i class="fa fa-globe"></i>123 Dagon Studio, Yakin Street, Digital Estate</li>
                            <li><i class="fa fa-envelope"></i><a href="https://gmail.com">yasin.electrocode@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <p>
                <span>Copyright © 2023 <a href="https://github.com/YasinSamooei">electrocode</a> 
                | Design: <a rel="nofollow" href="http://www.templatemo.com" target="_parent"><span class="blue">template</span><span class="green">mo</span></a></span>
            </p>
        </div>
        
    </div>
</footer>
