{% load static %}
<head>
    <meta charset="utf-8">
    <title>Grill Responsive Web Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/testimonails-slider.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>
</head>