{% load static %}
<header>
   <div id="top-header">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div class="home-account">
                       <a href="#">Home</a>
                       <a href="#">My account</a>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="cart-info">
                       <i class="fa fa-shopping-cart"></i>
                       <!-- (<a href="#">5 items</a>) in your cart (<a href="#">$45.80</a>) -->
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div id="main-header">
       <div class="container">
           <div class="row">
               <div class="col-md-3">
                   <div class="logo">
                       <a href="#"><img src="images/logo.png" title="Grill Template" alt="Grill Website Template" ></a>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="main-menu">
                       <ul>
                           <li><a href="{% url 'home:main' %}">Home</a></li>
                           <li><a href="about-us.html">About</a></li>
                           <li><a href="products.html">Products</a></li>
                           <li><a href="contact-us.html">Contact</a></li>
                       </ul>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="search-box">  
                       <form name="search_form" method="get" class="search_form">
                           <input id="search" type="text" />
                           <input type="submit" id="search-button" />
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
</header>

   <script>
      function delete_notif(id){
      $.get(`/delete-notif/${id}`).then(response=>{"delete-notif"})
      }
   </script>
     <!-- Header End -->