{% load static %}
<header>
   <div id="top-header">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div class="home-account">
                    {% if request.user.is_authenticated %}
                       <a href="#">My account</a>     
                       <div class="dropdown">
                        <i class="fa fa-bell dropbtn" style="margin-right: 5px;color: coral;" onclick="myFunction()"></i>
                        <div id="myDropdown" class="dropdown-content">
                            <p style="color: crimson;margin: 5px;">{{total}} unread messages</p>
                        {% for notif in notifications %}
                          <a href="" onclick="delete_public_notif({{notif.id}})">{{notif.message}} <span>{{notif.created_at}}</span></a>
                        {% endfor %}
                        {% for notif in privetnotif %}
                        <a href="" onclick="delete_notif({{notif.id}})">{{notif.message}} <span>{{notif.created_at}}</span></a>
                        {% endfor %}
                        </div>
                      </div>
                       <a href="{% url 'account:logout' %}">Log out</a>
                    {% else %}
                    <a href="{% url 'account:sign-in' %}">sign-in</a>
                    {% endif %}
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="cart-info">
                       <i class="fa fa-shopping-cart"></i>
                       <!-- (<a href="#">5 items</a>) in your cart (<a href="#">$45.80</a>) -->
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div id="main-header">
       <div class="container">
           <div class="row">
               <div class="col-md-3">
                   <div class="logo">
                       <a href="#"><img src="{% static 'images/logo2.png' %}" title="Grill Template" alt="Grill Website Template" style="width: 65px;height: 60px;"></a>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="main-menu">
                       <ul>
                           <li><a href="{% url 'home:main' %}">Home</a></li>
                           <li><a href="{% url 'home:about-us' %}">About</a></li>
                           <li><a href="{% url 'blog:blog-list' %}">Blogs</a></li>
                           <li><a href="{% url 'home:contact' %}">Contact</a></li>
                       </ul>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="search-box">  
                       <form name="search_form" method="get" class="search_form" action="{% url 'blog:blog-search' %}">
                           <input id="search" type="search" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}" required name="q"/>
                           <input type="submit" id="search-button" />
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
</header>

   <script>
      function delete_notif(id){
      $.get(`/delete-notif/${id}`).then(response=>{"delete-notif"})
      }

      function delete_public_notif(id) {
        $.get(`/delete-public-notif/${id}`).then(
            location.reload(),
        )
    }
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
   </script>
     <!-- Header End -->